*.svg
*.png
*.json
*.md
*.jpeg
*.jpg
*.webp

.gitignore
.prettierignore
.stylelintignore
.npmrc
Dockerfile.client
Dockerfile.server
.dockerignore

/build
node_modules
*.log
*.d.ts
*.config.ts

*.woff2
*.xml
*.ico
workbox*
sw.js